USE [master]
GO
/****** Object:  Database [Magazzino]    Script Date: 21/07/2020 21:42:03 ******/
CREATE DATABASE [Magazzino]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Magazzino', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Magazzino.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Magazzino_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Magazzino_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Magazzino].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Magazzino]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 21/07/2020 21:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IDCLIENTE] [nvarchar](50) NOT NULL,
	[NOME] [nvarchar](50) NOT NULL,
	[PARTITAIVA] [nvarchar](50) NOT NULL,
	[CODICEFISCALE] [nvarchar](50) NOT NULL,
	[INDIRIZZO] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FATTURAACQUISTO]    Script Date: 21/07/2020 21:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FATTURAACQUISTO](
	[NFATTURA] [nvarchar](50) NOT NULL,
	[DATAACQUISTO] [datetime] NOT NULL,
	[QUANTITA] [int] NOT NULL,
	[PREZZOACQUISTO] [float] NOT NULL,
	[CODFORNITORE] [nvarchar](50) NOT NULL,
	[CODPRODOTTO] [nvarchar](50) NOT NULL,
	[CODUTENTE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DATAACQUISTO] ASC,
	[CODFORNITORE] ASC,
	[CODPRODOTTO] ASC,
	[CODUTENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FATTURAVENDITA]    Script Date: 21/07/2020 21:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FATTURAVENDITA](
	[NFATTURA] [nvarchar](50) NOT NULL,
	[DATAVENDITA] [datetime] NOT NULL,
	[QUANTITA] [int] NOT NULL,
	[PAGAMENTO] [int] NOT NULL,
	[CODCLIENTE] [nvarchar](50) NOT NULL,
	[CODPRODOTTO] [nvarchar](50) NOT NULL,
	[CODUTENTE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DATAVENDITA] ASC,
	[CODCLIENTE] ASC,
	[CODPRODOTTO] ASC,
	[CODUTENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORNITORE]    Script Date: 21/07/2020 21:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORNITORE](
	[IDFORNITORE] [nvarchar](50) NOT NULL,
	[NOME] [nvarchar](50) NOT NULL,
	[PARTITAIVA] [nvarchar](50) NOT NULL,
	[INDIRIZZO] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FORNITORE] PRIMARY KEY CLUSTERED 
(
	[IDFORNITORE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODOTTO]    Script Date: 21/07/2020 21:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODOTTO](
	[IDPRODOTTO] [nvarchar](50) NOT NULL,
	[NOME] [nvarchar](50) NOT NULL,
	[DESCRIZIONE] [nvarchar](max) NOT NULL,
	[PREZZO] [float] NOT NULL,
	[QUANTITA] [int] NOT NULL,
 CONSTRAINT [PK_PRODOTTO] PRIMARY KEY CLUSTERED 
(
	[IDPRODOTTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTENTE]    Script Date: 21/07/2020 21:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTENTE](
	[IDUTENTE] [nvarchar](50) NOT NULL,
	[NOME] [nvarchar](50) NOT NULL,
	[COGNOME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[ISADMIN] [int] NOT NULL,
 CONSTRAINT [PK_UTENTE] PRIMARY KEY CLUSTERED 
(
	[IDUTENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTE] ([IDCLIENTE], [NOME], [PARTITAIVA], [CODICEFISCALE], [INDIRIZZO], [EMAIL]) VALUES (N'1', N'SARL FEB', N'30528598402', N'RSSMRA70A41F205Z', N'VIA ROMA 15 43125 PARMA', N'SARLFEB@GMAIL.COM')
INSERT [dbo].[CLIENTE] ([IDCLIENTE], [NOME], [PARTITAIVA], [CODICEFISCALE], [INDIRIZZO], [EMAIL]) VALUES (N'2', N'SCC', N'30528598100', N'RSSLUA70A41F205Z', N'VIA DIGIONE 5 43125 PARMA', N'SCC@GMAIL.COM')
GO
INSERT [dbo].[FATTURAACQUISTO] ([NFATTURA], [DATAACQUISTO], [QUANTITA], [PREZZOACQUISTO], [CODFORNITORE], [CODPRODOTTO], [CODUTENTE]) VALUES (N'30004002', CAST(N'2020-07-20T19:24:12.520' AS DateTime), 2, 5, N'1', N'1000', N'1001')
INSERT [dbo].[FATTURAACQUISTO] ([NFATTURA], [DATAACQUISTO], [QUANTITA], [PREZZOACQUISTO], [CODFORNITORE], [CODPRODOTTO], [CODUTENTE]) VALUES (N'30004003', CAST(N'2020-07-21T12:33:14.903' AS DateTime), 4, 5, N'1', N'1000', N'1001')
GO
INSERT [dbo].[FATTURAVENDITA] ([NFATTURA], [DATAVENDITA], [QUANTITA], [PAGAMENTO], [CODCLIENTE], [CODPRODOTTO], [CODUTENTE]) VALUES (N'1', CAST(N'2020-07-21T19:38:15.583' AS DateTime), 2, 1, N'2', N'1001', N'1002')
INSERT [dbo].[FATTURAVENDITA] ([NFATTURA], [DATAVENDITA], [QUANTITA], [PAGAMENTO], [CODCLIENTE], [CODPRODOTTO], [CODUTENTE]) VALUES (N'1', CAST(N'2020-07-21T19:38:30.753' AS DateTime), 2, 1, N'2', N'1000', N'1002')
INSERT [dbo].[FATTURAVENDITA] ([NFATTURA], [DATAVENDITA], [QUANTITA], [PAGAMENTO], [CODCLIENTE], [CODPRODOTTO], [CODUTENTE]) VALUES (N'2', CAST(N'2020-07-21T19:42:27.137' AS DateTime), 2, 1, N'2', N'1000', N'1002')
GO
INSERT [dbo].[FORNITORE] ([IDFORNITORE], [NOME], [PARTITAIVA], [INDIRIZZO], [EMAIL]) VALUES (N'1', N'IMP SRL', N'30528598989', N'VIA LIGURIA 43125 PARMA', N'IMP@GMAIL.COM')
INSERT [dbo].[FORNITORE] ([IDFORNITORE], [NOME], [PARTITAIVA], [INDIRIZZO], [EMAIL]) VALUES (N'2', N'JRK SRL', N'30528593579', N'VIA GARIBALDI 15 43125 PARMA', N'JRK@GMAIL.COM')
GO
INSERT [dbo].[PRODOTTO] ([IDPRODOTTO], [NOME], [DESCRIZIONE], [PREZZO], [QUANTITA]) VALUES (N'1000', N'RAM DDR4', N'RAM DDR4 Ballistix', 5, 0)
INSERT [dbo].[PRODOTTO] ([IDPRODOTTO], [NOME], [DESCRIZIONE], [PREZZO], [QUANTITA]) VALUES (N'1001', N'RAM', N'RAM DDR3 Ballistix', 20, 6)
INSERT [dbo].[PRODOTTO] ([IDPRODOTTO], [NOME], [DESCRIZIONE], [PREZZO], [QUANTITA]) VALUES (N'1002', N'CPU I7 10TH', N'CPU I7 DECIMA GENERAZIONE', 500, 7)
GO
INSERT [dbo].[UTENTE] ([IDUTENTE], [NOME], [COGNOME], [PASSWORD], [ISADMIN]) VALUES (N'1000', N'DANILO', N'PAGLIALUNGA', N'CIAOCIAO', 0)
INSERT [dbo].[UTENTE] ([IDUTENTE], [NOME], [COGNOME], [PASSWORD], [ISADMIN]) VALUES (N'1001', N'MARIO', N'ROSSI', N'PROVAPROVA', 1)
INSERT [dbo].[UTENTE] ([IDUTENTE], [NOME], [COGNOME], [PASSWORD], [ISADMIN]) VALUES (N'1002', N'GABRIELE', N'LADISA ', N'MIAOMIAO', 0)
GO
ALTER TABLE [dbo].[FATTURAACQUISTO]  WITH CHECK ADD  CONSTRAINT [FK_FATTURAACQUISTO_FORNITORE] FOREIGN KEY([CODFORNITORE])
REFERENCES [dbo].[FORNITORE] ([IDFORNITORE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FATTURAACQUISTO] CHECK CONSTRAINT [FK_FATTURAACQUISTO_FORNITORE]
GO
ALTER TABLE [dbo].[FATTURAACQUISTO]  WITH CHECK ADD  CONSTRAINT [FK_FATTURAACQUISTO_PRODOTTO] FOREIGN KEY([CODPRODOTTO])
REFERENCES [dbo].[PRODOTTO] ([IDPRODOTTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FATTURAACQUISTO] CHECK CONSTRAINT [FK_FATTURAACQUISTO_PRODOTTO]
GO
ALTER TABLE [dbo].[FATTURAACQUISTO]  WITH CHECK ADD  CONSTRAINT [FK_FATTURAACQUISTO_UTENTE] FOREIGN KEY([CODUTENTE])
REFERENCES [dbo].[UTENTE] ([IDUTENTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FATTURAACQUISTO] CHECK CONSTRAINT [FK_FATTURAACQUISTO_UTENTE]
GO
ALTER TABLE [dbo].[FATTURAVENDITA]  WITH CHECK ADD  CONSTRAINT [FK_FATTURAVENDITA_CLIENTE] FOREIGN KEY([CODCLIENTE])
REFERENCES [dbo].[CLIENTE] ([IDCLIENTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FATTURAVENDITA] CHECK CONSTRAINT [FK_FATTURAVENDITA_CLIENTE]
GO
ALTER TABLE [dbo].[FATTURAVENDITA]  WITH CHECK ADD  CONSTRAINT [FK_FATTURAVENDITA_PRODOTTO] FOREIGN KEY([CODPRODOTTO])
REFERENCES [dbo].[PRODOTTO] ([IDPRODOTTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FATTURAVENDITA] CHECK CONSTRAINT [FK_FATTURAVENDITA_PRODOTTO]
GO
ALTER TABLE [dbo].[FATTURAVENDITA]  WITH CHECK ADD  CONSTRAINT [FK_FATTURAVENDITA_UTENTE] FOREIGN KEY([CODUTENTE])
REFERENCES [dbo].[UTENTE] ([IDUTENTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FATTURAVENDITA] CHECK CONSTRAINT [FK_FATTURAVENDITA_UTENTE]
GO
USE [master]
GO
